img{width: 180px;
  Height: 150px;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
  border-radius: 50%;

}
table, th, td {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
th{
  background-color: #cccccc;
}